.not-visible{
    display: none;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden; 
}

#searching .search-btn{
    display: inline-block;
    background:#aec2f7;
    color: #fff;
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
    position: relative;
    border: none;
    text-decoration: none;
    
}


#searching .search-btn:hover {
    background: #8cb5f3; 
}

.dz{
    border-style: dashed;
    border-radius: 5px;
    border-color: #ddd;
    transition : .5s;
}

.dz:hover{
    background-color:#ebeff5;
}

.avatar-sm {
    height : 30px;
    width : 30px;
    border-radius: 50%;
}

.avatar-big {
    height : 200px;
    width : 200px;
    border-radius: 50%;
}

.logo-sm {
    height : 30px;
    width :auto;
}

.nav-style{
    padding-left: 3% ;
    background: #ebeff5;
}

.nav-profile{
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

body{
    font-size: 16px;
    line-height: 1.8;
    background: #f8f8f8;
    font-weight: 400;
    font-family: Poppins;
}

#total-orders
{
    background-color: #e1e9ff;
}

#orders-delivered
{
    background-color: #b7c6ef;
}

#orders-pending
{
    background-color: #a3c4f5;
}


#searching{
    background: #ebeff5;
    color : gray;
    font-weight: 500;
    font-family: Poppins;
    
}

